<!-- Partial view for NotificationMenu -->
<div class='dropdown-menu'><h6 class='dropdown-header'>Notifications</h6><div class='dropdown-divider'></div><a class='dropdown-item' href='#'>No new notifications</a></div>
